<div id="response">
    {% if json %}
        <blockquote>
        <img src="{{asset('images/storytelling.jpeg')}}" />
            "{{ json }}"
            <footer>
                <cite>-- 🤖 Auteur(e) doué(e) d'intelligence artificielle.</cite>
            </footer>
        </blockquote>
    {% endif %}
</div>