.background {
    background-image: url('../images/sketches.jpeg');
    background-size: cover;
    position: relative;
    background-position: 50%;
}

.lighter {
    background-color: rgba(255, 255, 255, 0.5);
    --form-element-placeholder-color: brown;
    font-weight: 600;
    color: black;
}

cite {
    color: rgb(7, 61, 170);
    font-weight: 600;
}

.buttonrec {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 5px;
	outline: none;
    background-image: url('../images/microphone.png');
    background-size: cover;
    float: right;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}